.next-days_container {
  display: flex;

  .single-day {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .next-day_title {
      font-size: 20px;
    }

    img {
      width: 80px;
    }

    .degrees-container {
      display: flex;
      font-size: 18px;

      .weather-condition_min-temp {
        color: #cbcaca;
      }

      .weather-condition_max-temp {
        margin-right: 10px;
      }

      .weather-condition-degrees {
        font-size: 10px;
        line-height: 28px;
      }
    }
  }
}
