.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  line-height: 2rem;

  .weather-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
  }

  .weather-details {
    display: flex;

    .weather-condition {
      font-size: 22px;
      letter-spacing: 1.5px;
      font-family: 'Ubuntu', sans-serif;
      margin-top: 12px;
    }

    .degrees-container {
      display: flex;

      .weather-condition-degrees {
        font-size: 16px;
        line-height: 24px;
        font-family: 'Ubuntu', sans-serif;
      }
    }

    .weather-condition_minor-details {
      margin-left: 10px;
      font-size: 14px;
      line-height: 28px;
    }

    img {
      width: 160px;
    }
  }
}
