.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;

  .weather-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    letter-spacing: 2px;
  }

  .location-search-bar {
    .location-search-bar-input {
      width: 460px;
      padding: 8px;
      background-color: #fffdfa;
      color: black;
      border-radius: 10px;
    }
  }

  .current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    .weather-details {
      display: flex;

      .weather-condition {
        font-size: 24px;
        letter-spacing: 1.5px;
        font-family: 'Ubuntu', sans-serif;
        margin-top: 28px;
      }

      .degrees-container {
        display: flex;

        .weather-condition-degrees {
          font-size: 16px;
          line-height: 24px;
          font-family: 'Ubuntu', sans-serif;
        }
      }

      .weather-condition_minor-details {
        margin-top: 8px;
        margin-left: 10px;
        font-size: 16px;
        line-height: 32px;
        text-align: right;
      }

      img {
        width: 192px;
      }
    }
  }
}
